/* Einzelne Deklarationen in einer Zeile */
.span1 {
  width: 60px;
}

.span2 {
  width: 140px;
}

.span3 {
  width: 220px;
}

/* Mehrere Deklarationen; eine pro Zeile */
.sprite {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../img/sprite.png);
}