<!DOCTYPE html>
<html lang="de-de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Seitentitel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="code-guide.css">
  </head>
  <body>
    <header role="banner">
      <nav role="navigation">
        <ul>
          <li>
            <a href="#">
              Home
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <section role="main">
      <article>
        <header>
          <h2>
            Title
          </h2>
        </header>
      </article>
    </section>

    <aside role="complementary">
      <p>
        Sidebar here
      </p>
    </aside>
    <footer role="contentinfo">
      &copy; Guave Interactive
    </footer>

    <script src="js/yourscripts.min.js"></script>
  </body>
</html>
